body
{
  text-align: center;
}

table
{
  margin: 0px auto;

  text-align: left;
  width: 400px;

  border-collapse: collapse;
  border: 1px solid black;
  padding: inherit;
  color: #4d4d4d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
}
tr:hover {background-color: #f5f5f5;}

tr
{
  height: 50px;
  vertical-align: center;
}

h1
{
  text-align: center;
  color: #4d4d4d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

.InputBox
{
  width: 400px;
  margin: 0px auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #4d4d4d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;

}


.InputBox::placeholder
{
  font-style: italic;
  font-size: 12pt;

}

.bottomText
{
  bottom: 5%;
  font-size: 8pt;
  position: fixed;
  text-align: center;
  opacity: 0.6;

  width: 100%;
}

.bottomText:link
{
  opacity: 0.6;
  color: #4d4d4d;
}
/* stuff to make a cross appear
.close {
  position: sticky;
  right: 100px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}*/
