body
{

}

h1
{
  text-align: center;
  color: #4d4d4d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

.InputBox
{
  width: 400px;
}
/* stuff to make a cross appear
.close {
  position: sticky;
  right: 100px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}*/
